.top {
    background-color: #99000080;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.top.bottom {
    font-size: 24px;
}

#fake {
    color: #0000ff;
    font-size: 36px
}

#real {
    background-color: #00770080;
    font-size: 24px;
    font-weight: 700;
}