@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}

.left-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 18px;
}

.right-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 18px;
}

a {
  text-decoration-line: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #eeeeee;
}
