body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 10 px solid white;
}

.title {
  background: #e3f4ff;
  margin: 2px auto 12px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 12px auto;
  border: 12px solid #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}