body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: auto;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row nowrap;  
  flex: auto;
}

ul {
  display: flex;
  flex-flow: column nowrap;
  flex: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  list-style: none;
  gap: 16px
}

li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0;
}

a {
  text-decoration-line: none;
  font-size: 24px;
  color: white;
}

.sidebar {
  width: 300px;
  background: royalblue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 16px;
}

.cards {
  padding: 32px;
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  gap: 26px

}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 26px;
  max-width: 300px;
  display: flex;
}