.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 8px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  padding: 8px;
  gap: 16px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: flex-start;
}

.right-links{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: flex-end;
}